@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@font-face {
    font-family: 'EBGaramond';
    src: url(gramondfont/EBGaramond-VariableFont_wght.ttf) format(truetype); 
    font-weight: normal;
}
:root {
    --cor00:#496686;
    --cor01:#414E5C;
    --cor02:#2D3033;
    --cor03:#2E7FDB;
    --cor04:#272C33;
    --cor05:#002147;

    --font-principal:"EBGaramond",sans-serif;
    --font-elementar:'Bebas Neue', sans-serif;
    --font-padrao:'Georgia', 'Times New Roman', Times, serif;
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: var(--font-padrao);
    color: var(--cor03);
}
a.extern::after {
    content:'🔗' ;
}
header {
    background-color: var(--cor04);
    padding: 10px;
    margin: 10px, 20px, 30px, 10px;
    text-align: center;
    min-height: 150px;
    text-shadow: 3px, 3px, 3px, black;
    font-weight: normal;
    
}
header h1 {
    font-family: var(--font-principal);
  padding-bottom: 25px;
  font-size: 3em;
  color: white;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.393);
}
header p {
    font-size: 1.2em;
    font-family: var(--font-padrao);
    padding-bottom: 5px;
    color: white;
}
nav {
    background-color: var(--cor04);
    font-size: 1.1em;
    padding: 10px;
}
nav a {
    color: var(--cor03);
    text-decoration: none;
    padding: 10px
    
}
nav a:hover {
    background-color: var(--cor00);
    border-radius: 4px;
    font-weight: bold;
    transition-duration: 1.2s;
}
section {
    padding-top: 10px;
     background-image: linear-gradient(to bottom, #414E5C, transparent);
    padding-left: 20px;
    font: normal, normal, 1.5em, var(--font-elementar);
    text-shadow: 2px 0px 3px black;
}
section h1 {
    margin-top: 10px;
    font-size: 2em;
    
}
main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    line-height: 2em;
    margin-bottom: 20px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
}
main h1 {
 text-indent: 20px;
 background-image: linear-gradient(to bottom, #414E5C, transparent);
 font-size: 2em;
 text-shadow: 2px 0px 3px black;
}
main h2 {
text-indent: 20px;
 background-image: linear-gradient(to bottom, #414e5c41, transparent);
font-size: 1.7em;
text-shadow: 2px 0px 3px black;
text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
main h3 {
text-indent: 20px;
 background-image: linear-gradient(to bottom, #414e5c41, transparent);
 font-size: 1.3em;
 text-shadow: 2px 0px 2px rgba(0, 0, 0, 0.507);
 text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
main p {
    text-align: justify;
    text-indent: 20px;
    font-family: var(--font-padrao);
}
main ul {
    text-indent: 20px;
    columns: 2;
    font-family: var(--font-padrao);
    text-align: justify;
    list-style-position: inside;
}
main ol {
list-style-position: inside;
list-style-type:76050;
}
main dl >dd {
    text-indent: 30px;
    font-weight: 600;
    font-style: italic;
}
main a {
    text-decoration: none;
    color: var(--cor01);
    padding: 0px, 3px, 0px, 3px;
    background-color: #0021471c;
    
}
main a:hover {
    color: var(--cor05);
    background-color: #414e5c58;
    text-decoration: underline;
    font-weight: bolder;
}
main picture>img.pequeno {
    width: 500%;
}
main img {
    margin: auto;
    width: 50%;
    padding: 15px;
    display: block;
}
main .box {
background-color: var(--cor05);
color: #ffffff;
border-top-left-radius: 5px;
border-top-left-radius: 5px;
box-shadow: 2px 0px 2px black;
margin-bottom: 10px;
}
aside {
    border-radius: 5px;
    background-color: #002147;
    padding: 10px;
    color: rgba(255, 255, 255, 0.849);
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.441);
    margin-top: 10px;
}
aside >h2 {
    background-color: var(--cor04);
    color: rgba(255, 255, 255, 0.911);
    padding: 10px;
    border-radius: 5px;
    margin: -10px -10px 0px -10px;
}
aside ul {
    list-style-type: '\2714\00a0\00a0';
}
div >iframe {
    display: block;
    margin: auto;
    margin-top: 15px;
}
div#video {
    position: relative;
    background-color: var(--cor05);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.8%;
}
div#video >iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
footer {
    background-color: var(--cor05);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
    font-size: 0.8em;
}
footer >a {
text-decoration: none;
color: rgba(240, 248, 255, 0.697);
}
footer >a:hover {
    color: rgb(244, 64, 64);
    background-color: #414E5C;
    text-decoration: underline;
    font-weight: bolder;
}